<IfModule mod_deflate.c>
  # Compress HTML, CSS, JavaScript, Text, XML and fonts
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE application/x-font
  AddOutputFilterByType DEFLATE application/x-font-opentype
  AddOutputFilterByType DEFLATE application/x-font-otf
  AddOutputFilterByType DEFLATE application/x-font-truetype
  AddOutputFilterByType DEFLATE application/x-font-ttf
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE font/opentype
  AddOutputFilterByType DEFLATE font/otf
  AddOutputFilterByType DEFLATE font/ttf
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE image/x-icon
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/xml

  # Remove browser bugs (only needed for really old browsers)
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
  Header append Vary User-Agent
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On

  # Images
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"

  # Video
  ExpiresByType video/mp4 "access plus 1 year"
  ExpiresByType video/mpeg "access plus 1 year"

  # CSS, JavaScript
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType text/javascript "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"

  # Others
  ExpiresByType application/pdf "access plus 1 month"
  ExpiresByType application/x-shockwave-flash "access plus 1 month"
</IfModule>

<IfModule mod_headers.c> 
  Header set X-XSS-Protection "1; mode=block" 
</IfModule>

#--------------------------------------------------
# Répertoire : /articles/
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options FollowSymLinks

# Activation du module de réécriture d'URL :
RewriteEngine On
RewriteBase /

#Si la page.cache existe : 
RewriteCond %{REQUEST_FILENAME}\.cache -f 

ErrorDocument 404 /blog_projet/index.php?action=error404
ErrorDocument 500 /blog_projet/index.php?action=error404
RewriteRule ([^.]+)\.html$ /page.php?page=$1 [L] 


#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

# Réécriture page d'accueil (blog)
RewriteRule ^blog$ /blog_projet/index.php?action=listPosts [QSA,L]
# Réécriture page d'accueil (blog) avec numéro de page
RewriteRule ^blog-page-([0-9]+)$ /blog_projet/index.php?action=listPosts&page=$1& [L]

# Réécriture pages
RewriteRule ^([a-zA-Z0-9]+)$ /blog_projet/index.php?action=$1 [QSA,L]

# Réécriture page d'article
RewriteRule ^post-([0-9]+)$ /blog_projet/index.php?action=post&id=$1 [QSA,L]
# Réécriture page d'article avec modification du commentaire
RewriteRule ^post-([0-9]+)-comment-([0-9]+)$ /blog_projet/index.php?action=post&id=$1&comment=$2 [QSA,L]
# Réécriture page d'article avec numéro de page
RewriteRule ^post-([0-9]+)-page-([0-9]+)$ /blog_projet/index.php?action=post&id=$1&page=$2& [QSA,L]
# Réécriture page d'article avec suppression (delete) ou signalement (report) d'un commentaire
RewriteRule ^post-([0-9]+)-comment-([0-9]+)-([a-z]{6})$ /blog_projet/index.php?action=post&id=$1&comment=$2&$3=true [QSA]

# Réécriture page Edition d'article
RewriteRule ^edit-post$ /blog_projet/index.php?action=editPost [L]
RewriteRule ^edit-post-([0-9]+)$ /blog_projet/index.php?action=editPost&id=$1 [L]

# Réécriture page Profil
RewriteRule ^profil-delete_cookies$ /blog_projet/index.php?action=profil&delete_cookies=true [L]

# Réécriture page Utilisateur
RewriteRule ^user-([0-9]+)$ /blog_projet/index.php?action=user&id=$1 [L]

# Réécriture page Réinitialisation du mot de passe
RewriteRule ^reset-password-([a-zA-Z0-9]+)$ /blog_projet/index.php?action=resetPassword&token=$1 [L]

# Réécriture page Gestion des commentaires (comments), des articles (posts) ou des utilisateurs (users)
RewriteRule ^([a-z]{5,8})$ /blog_projet/index.php?action=$1 [L]
# Réécriture page Gestion avec tri sans numéro de page
RewriteRule ^([a-z]{5,8})-orderBy-([a-zA-Z_]+)-order-(asc|desc)$ /blog_projet/index.php?action=$1&orderBy=$2&order=$3 [QSA,L]
# Réécriture page Gestion avec tri ET numéro de page
RewriteRule ^([a-z]{5,8})-orderBy-([a-zA-Z_]+)-order-(asc|desc)-page-([0-9]+)$ /blog_projet/index.php?action=$1&orderBy=$2&order=$3&page=$4 [QSA,L]